<div class="row">
  <div class="col-lg-4">
    <div class="list-group">
      <a (click)="setSound(1)" class="list-group-item list-group-item-action" style="background-color: red;"></a>
      <a (click)="setSound(2)" class="list-group-item list-group-item-action" style="background-color: orange;"></a>
      <a (click)="setSound(3)" class="list-group-item list-group-item-action" style="background-color: yellow;"></a>
      <a (click)="setSound(4)" class="list-group-item list-group-item-action" style="background-color: green;"></a>
      <a (click)="setSound(5)" class="list-group-item list-group-item-action" style="background-color: teal;"></a>
      <a (click)="setSound(6)" class="list-group-item list-group-item-action" style="background-color: blue;"></a>
      <a (click)="setSound(7)" class="list-group-item list-group-item-action" style="background-color: purple;"></a>
    </div>    
  </div>
</div>

<!-- <audio controls>
  <source src="./../assets/sonidos/note1.wav">
</audio> -->